*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.content{
	margin: 15px 45px;
	text-align: center;
	justify-content: center;
}

h1{font-family: cooper black;}
h4{ font-family: Arial Black}

.pr{background-color: springgreen;}
.dl{color: blue;
	font-family: Bodoni MT Condensed;
	font-size: 20px;

}
.dk{font-family: Bodoni MT Condensed;
}


	body{background-color: lawngreen;
		font-size: 20px;}

.ls{color: red;}
.link{
	color: white;
	 background-color: red;
	 font-family: Bahnschrift SemiBold;
	 text-decoration: none;
	 padding: 2px 2px 2px 2px;
	 margin: 5px 5px;
}
.banner1{
	background-size: cover;
	background-image: url(banner2.jpg);
	padding: 5px 5px 5px 5px;
	bottom: 10px;

}
.banner2{
	background-image: url(banner1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 40px;

}
.icons{
	padding: 20px 10PX 20PX 10PX;
}
.call{
	align-content: right;
}
.footer-container{
	column-count: 2;
	column-gap: 20px;
}
.footer-items{
	break-inside: avoid;
	margin: 20px;
}
.footer-links{
	list-style: none;
	padding: 0;
	display: flex;

}
.footer-links li{
	margin-right: 15px;
}
.footer-links a{
	text-decoration: none;
	color: blue;
	font-weight: bold;
	background-color: lawngreen;
}
.footer-links a:hover{
	color: black;
	font-weight: bold;
}
.copyright{
	margin-top: 15px;
}
.products{
	display: flex;
	width: 70%;
	margin: 40px auto;
	flex-wrap: wrap;
	
}
.product-item{
	
	margin: 10px;
	padding: 30px;
}

.form{ 
 }

	
	.form-box{
		border: 5px solid;
    padding: 10px;
    box-sizing: border-box;
    width: 300px;
height: 300px;

margin: 30px 30px 30px 30px;



		
	}